*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body, html{
    width: 100%;
}

header{
   height: 55px;
   padding: 20px; 
   background-color: #ff21c5;
   color: #f8f8f8;
   font-size: 16px;
}

main{
    max-width: 480px;
    margin: 30px auto;
}

h1{
   margin: 30px 0;
   color: #ff21c5;  
}

p{
    margin: 30px 0;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    height: 35px;
    margin: 20px 0;
}

select{
    margin: 30px 0;

}

.estados{
    height: 35px;
}

button{
    height: 35px;
    font-size: 16px;
    border: 0;
    background-color: #ff21c5;
    color: #f8f8f8;
}

footer{
    height: 55px;
    padding: 20px;
    position: sticky;
    bottom: 0;
    text-align: center;
    color: #ff21c5;
    background-color: #f8f8f8;
}